@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}
body {
  @apply bg-neutral-950 text-neutral-100;
}

.card {
  @apply rounded-lg border border-neutral-800 bg-neutral-900/60;
}
