@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

/* 滚动条简单美化 */
*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.2); border-radius: 4px; }
